.pulumi
**/bin/
**/obj/
**/node_modules/
**/lib
vendor/
**/Pulumi.*.yaml
**/yarn-error.log
yarn.lock
package-lock.json
.idea/
**/version.txt
**/dist
nuget/
**/__pycache__

ci-scripts/
*.tar.gz

/provider/cmd/pulumi-resource-*/schema.go
**/kubeconfig.json
